/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
height:100%;
min-height:100%;
width:100%;
}

body{
height: 100%;
min-height:100%;
width:100%;
position: relative;
background-image: url('img/space_dn2.png');
background-size: cover;
background-color: rgb(0, 0, 0);
background-repeat:repeat no-repeat;
}

.section{
    text-align: center;
}

.section .container.trailer{
    min-width: 960px;
}

.section.head{
    min-height: 100%;
    height:100%;
}

.section.head .container{
    height:100%;
}

h1,h2,h3{
    color:#f6f7fa;
    font-family: "CaviarDreams";
}

.head h1{
    padding-top: 120px;
    font-size: 120px;
}

.head h3{
    margin-bottom: 35px;
    font-size: 36px;
}

.head a
{
    position: relative;
    text-decoration: none;
    z-index: 10;
}

.head .storebutton
{
    margin: 0 65px;
}

 #headGreen{
    position: absolute;
    height: 245px;
    width: 100%;
    bottom: 0;
    text-align: center;
}
#headGreen .body
{
    position: relative;
    margin: 0 auto;
    height: 414px;
    width: 484px;
    background-image: url(img/green.png);
    transform: scale(0.5);
}

#headGreen .lens
{
    position: absolute;
    top: 32%;
    left: 20%;
    background-image: url(img/green.png);
    height: 195px;
    width: 298px;
    background-position: 298px 0;
    z-index: 5;
}

#headGreen .eyeCont{
    position: absolute;
    height: 36px;
    width: 36px;
}

#headGreen .eyeCont.l{
    top: 46%;
    left: 34%;
}

#headGreen .eyeCont.r
{    
    top: 46%;
    right: 31%;
}

#headGreen .eye
{
    position: absolute;
    background-image: url(img/green.png);
    height: 36px;
    width: 36px;
    background-position: 0 36px;
}

.section.trailer
{
    height: 100%;
}
.container.trailer
{
    overflow: hidden;
}

 .section.screenshots{
     margin: 0 0 100px 0;
    
 }
 
.trailerWrapper
{
    margin: 0 auto;
    width: 260px;
    height: 530px;
    background-image: url('img/phoneFrameW.png');
    background-size: contain;
    /*padding: 12.5% 6.66% 11.2% 6.66%;*/
    background-repeat: no-repeat;
}

.trailerWrapper iframe
{
     padding: 25.5% 3.66% 6.2% 3.66%;
}

.ast{
    position: absolute;
    width:112px;
    height: 112px;
    background-repeat: no-repeat;
}

.ast.ast1
{
    top:80px;
    left: 0px;
    background-image: url('img/ast1.png');
    animation:rotate 20s linear reverse infinite;
}
.ast.ast2
{
    top: 40px;
    right: 30px;
    background-image: url('img/ast2.png');
    animation:rotate 50s linear reverse infinite;
}
.ast.ast3
{
    top:210px;
    left:160px;
    background-image: url('img/ast3.png');
    animation:rotate 40s linear reverse infinite;
}
.ast.ast4
{ 
    width: 180px;
    height: 180px;
    top: 250px;
    right: 70px;
    background-image: url('img/ast4.png');
    background-size: contain;
    animation: rotate 70s linear reverse infinite;
}

.ast.ast4 .blue
{
    position: relative;
    width: 180px;
    height: 180px;
    left: -60%;
    transform-origin: 120% center;
    animation: rotate 20s linear infinite;
}

.ast.ast4 .blue:before
{ 
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    background-image: url('img/blue.png');
    background-position: 0;
    background-size: cover;
    animation: rotate 10s linear reverse infinite, blueSize 20s linear reverse infinite;
}

.screenshot
{
    height: 300px;
}

.screenshot img
{
    height: 450px;
    width:auto;
    margin: 0 auto;
    border: 10px solid #e9e9e9;
}

.screenshots .container .row:nth-child(odd) .screenshot img-wrapp{
    /*float: left;
    margin-left: 100px;*/
}

.screenshots .container .row:nth-child(even) .screenshot img-wrapp{ 
    /*float: right;
    margin-top: 350px;*/
    /*margin-right: 100px;*/
}

.screenshot img.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.screenshot img {
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
}

.screenshot .desc{
    display: table;
    /*float: left;*/
    height:470px;
    /*max-width:420px;
    margin-left: 40px;*/
    text-align: center;
    text-transform: uppercase;
    color:#fff;
}

.screenshot .desc .desc-text{
    display: table-cell;
    vertical-align: middle;
    font-family: PaytoneOne;
    font-size: 36px;
}

.section.footer{
    color:#fcfcfc;
}

.section.footer a{    
    text-decoration: none;
    padding: 0 10px;
    color: #fcfcfc;
}

.section.footer a:hover
{
    color:#4BC545;
}

@keyframes rotate { 100% { transform:rotate(-360deg); } }
@keyframes blueSize {   
     0% { transform:scale(1.0); }   
     25% { transform:scale(0.9); }  
     50% { transform:scale(0.8); } 
     75% { transform:scale(0.9); }      
     100% { transform:scale(1.0); } 
     }

/* Larger than mobile */
@media (min-width: 400px) and (orientation:portrait) {
.ast.ast4
{ 
    transform: scale(0.5);
}

.trailerWrapper
{        
    width: 422.9px;
    height: 860px;
}

.section.head{
min-height: 820px;
}

.section.head .container{
    min-height: 820px;
}    
}

/* Larger than phablet */
@media (min-width: 550px) and (orientation:portrait) {
.ast.ast4
{ 
    transform: scale(0.5);
}

.trailerWrapper
{        
    width: 422.9px;
    height: 860px;
}

.section.head{
min-height: 820px;
}

.section.head .container{
min-height: 820px;
}    
}

@media (min-width: 400px) and (orientation:landscape) {
    
.head h1 
{
    padding-top: 75px;
    font-size: 100px;
}

.ast.ast4
{ 
    transform: scale(0.5);
}

.trailerWrapper
{        
    width: 260px;
    height: 530px;
}
}

/* Larger than phablet */
@media (min-width: 550px) and (orientation:landscape){
    
.head h1 
{
padding-top: 75px;
font-size: 100px;
}


.ast.ast4
{ 
    transform: scale(0.5);
}

.trailerWrapper
{        
    width: 260px;
    height: 530px;
}
    
}

/* Larger than tablet */
@media (min-width: 750px) and (orientation:portrait) {
.ast.ast4
{ 
    transform: scale(0.5);
}

.trailerWrapper
{        
    width: 422.9px;
    height: 860px;
}
.section.head{
min-height: 820px;
}

.section.head .container{
min-height: 820px;
}
}

@media (min-width: 750px) and (orientation:landscape) {
.head h1 
{
    padding-top: 75px;
    font-size: 100px;
}

.ast.ast4
{ 
    transform: scale(0.5);
}

.trailerWrapper
{        
    width: 260px;
    height: 530px;
}
}

/* Larger than Desktop HD */
@media (min-width: 1920px) {
    .head h1 {
    padding-top: 175px;
    }
}

/*.shipAppears
{
    overflow: hidden;
    height: 180px;
    width: 100%;
    margin: 60px 0;
    max-width: 100%;
}

.shipAppears .ship
{
    position: absolute;
    right: 500px;
}*/

/*#headGreen .eye.l
{
    margin-top: 12%;
    margin-left: 11%;
}

#headGreen .eye.r
{
    margin-top: 12%;
    margin-left: 20%;
}*/

@font-face {
    font-family: CaviarDreams;
    src: url(fonts/CaviarDreams-webfont.ttf);
}

@font-face{
    font-family: PaytoneOne;
    src: url(fonts/PaytoneOne.ttf);    
}